[submodule "externals/UPR"]
	path = externals/UPR
	url = git@github.com:VerdureChen/unsupervised-passage-reranking.git
[submodule "externals/MonoT5"]
	path = externals/MonoT5
	url = git@github.com:VerdureChen/pygaggle.git
