coloredlogs==15.0.1
datasets==2.16.1
dill==0.3.7
elasticsearch==8.12.0
elastic-transport==8.12.0
faiss-gpu==1.7.2
fast-bleu==0.0.90
flatbuffers==23.5.26
huggingface-hub==0.20.3
humanfriendly==10.0
lightgbm==4.3.0
multiprocess==0.70.15
nmslib==2.1.1
onnxruntime==1.16.3
pyarrow-hotfix==0.6
pybind11==2.6.1
pyjnius==1.6.1
pyserini==0.22.1
xxhash==3.4.1
